<!DOCTYPE html>
{% set critical_css %}
  {% include "css/reset.css" %}
  {% include "css/base.css" %}
{% endset %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <style>
      {{ critical_css | cssmin | safe }}
    </style>
    {% if css %}
      {% for link in css %}
         <link rel="stylesheet" href="{{link}}" />
      {% endfor %}
    {% endif %}
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
