---
layout: layout.njk
title: nathan griffin
---

<div class="landing-page">
  {% include "./templates/sitename.njk" %}
  {% include "./templates/nav.njk" %}
  <main><span>👋</span></main>
  <div class="icon-row">
    <a href="https://github.com/burdell">
      <img class="icon" src="assets/github.svg" alt="GitHub Icon" /> 
    </a>
    <a href="https://twitter.com/nathaniscool">
      <img class="icon" src="assets/twitter.svg" alt="Twitter Icon" /> 
    </a>
    <a href="mailto:nathanjgriffin@gmail.com">
      <img class="icon" src="assets/gmail.svg" alt="Gmail Icon" /> 
    </a>
  </div>
</div>   