---
layout: header.njk
title: about
---
<div>
  <section>
    <span>👋</span> My name is Nathan. I'm a software developer in Atlanta.
  </section>
  <section>
    <div>This site is built with <a target="_blank" href="https://www.11ty.dev/">11ty</a> and it's mostly a constant work in progress.</div>
  </section>
  <section> 
    <div>If you want to check out a (mostly) real-time peek at what I've been reading head to <a target="_blank" href="https://whatdidnathanread.com">whatdidnathanread.com</a>.</div>
    <div>If you want to check out my GitHub head <a target="_blank" href="https://github.com/burdell">here</a>.</div>
    <div>If you want to follow me on Twitter head <a target="_blank" href="https://twitter.com/nathaniscool">here</a>.</div>
  </section>
</div>